:host {
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    // transition: height 1s ease-in;

    .sz-action-button {
        display: flex;
        flex-direction: row;
    }

    ul {
        list-style-type: none;
        padding: 0;
        font-size: 14px;

        li {
            margin: 3px 0px;
            cursor: pointer;
        }
    }
}