<form [formGroup]="user">
    <div class="sz-input-wrapper">
        <input type='text'
               formControlName='firstName'
               placeholder="First Name"
               ngError
               minlength="5" />
        <div>
            <ng-error type='required'
                      for="firstName"
                      message="First Name is required"></ng-error>
            <ng-error type='minlength'
                      for="firstName"
                      message="Please enter min length"></ng-error>
        </div>
    </div>


    <div class="sz-input-wrapper">
        <input type='text'
               formControlName='lastName'
               placeholder="Last Name"
               ngError
               minlength="5" />

        <div *ngIf="lastNameError">
            <ng-error type='required'
                      for="lastName"
                      message="Last Name is required"></ng-error>
            <ng-error type='minlength'
                      for="lastName"
                      message="Please enter min length"></ng-error>
        </div>
    </div>


    <div class="sz-input-wrapper">
        <input type='text'
               formControlName='age'
               placeholder="Age"
               ngError
               minlength="5" />
    </div>

    <div class="sz-input-wrapper">
        <input type='text'
               formControlName='city'
               placeholder="City"
               ngError
               minlength="5" />

        <div>
            <div>
                <ng-error for="city"></ng-error>
            </div>
        </div>
    </div>

    <input type='text'
           [formControl]='isolatedFormControl'
           name='Isolated-control'
           required
           placeholder="Isolated FormControl"
           ngError
           minlength="5" />

    <div>
        <ng-error type="required"
                  for="Isolated-control"
                  message="Isolated Control is required">
        </ng-error>
    </div>



    <button type="button"
            class="sz-button"
            (click)="lastNameErrorShow()">Click</button>
</form>

<form #appForm="ngForm">
    <input type='text'
           [(ngModel)]='ngModelControl'
           name='Isolated'
           required
           placeholder="Ng Isolated FormControl"
           matErrorExt
           minlength="5" />


    <mat-error-ext type="required"
                   for="Isolated"
                   message="ngModel Control is required"></mat-error-ext>
</form>

<!-- <form #appForm="ngForm">
    <input type='text'
           [(ngModel)]='name'
           name='input-name'
           required
           placeholder="Ng Isolated FormControl"
           ngError='input-name'
           minlength="5" />


    <ng-error type="required"
              for="input-name"
              message="Name is required">
    </ng-error>
</form> -->

<app-code-block [code]='code'>



</app-code-block>